
<label for="Pesel">Pesel</label>
<input type="Pesel" id="pesel" [(ngModel)]="pesel" name="pesel">
<button (click) = GetMyAppoitments() >Znajdz wizyty</button>
<table mat-table [dataSource]="appoitments" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let patient"> {{patient.id}} </td>
  </ng-container>

  <ng-container matColumnDef="Nazwa badania">
    <th mat-header-cell *matHeaderCellDef> Nazwa Badania </th>
    <td mat-cell *matCellDef="let patient"> {{patient.nameOfAppointment}} </td>
  </ng-container>

  <ng-container matColumnDef="Data">
    <th mat-header-cell *matHeaderCellDef> Data Badania </th>
    <td mat-cell *matCellDef="let patient"> {{patient.dateOfAppointment}} </td>
  </ng-container>

  <ng-container matColumnDef="Godzina">
    <th mat-header-cell *matHeaderCellDef> Godzina Badania </th>
    <td mat-cell *matCellDef="let patient"> {{patient.hourOfAppointment}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
