.info {
  font-size: 15px;
  margin-bottom: 15px;
}

.editButton{
  margin: 5px;
  margin-bottom: 15px;
}

#pesel{
  margin-left: 15px;
  margin-bottom: 15px;
}

#choseButton{
  margin-bottom: 15px;
  margin-left: 50px;
}

